{% block _appbundle_scenario_scenarioInquests_entry_label %}{% endblock %}

{% block _appbundle_scenario_scenarioInquests_entry_widget %}
    <div class="col-md-1"></div>
    <div class="col-md-11">
        {{ form_row(form.inquest) }}
        {{ form_row(form.inquestProtocol) }}
        {{ form_row(form.inquestParameter) }}
        {{ form_row(form.inquestComparison) }}
        {{ form_row(form.scenarioInquestValidators) }}
    </div>
    <div class="row">
        <div class="col-sm-2"></div>
        <div class="col-sm-10">
            <a href="#" class="collection-add btn btn-default pull-right" title="Add Inquest"><span class="glyphicon glyphicon-plus-sign"></span></a>
            <a href="#" class="collection-remove btn btn-default pull-right" title="Delete Inquest"><span class="glyphicon glyphicon-trash"></span></a>
            <a href="#" class="collection-up btn btn-default pull-right" title="Move Inquest up"><span class="glyphicon glyphicon-arrow-up"></span></a>
            <a href="#" class="collection-down btn btn-default pull-right" title="Move Inquest down"><span class="glyphicon glyphicon-arrow-down"></span></a>
        </div>
    </div>
{% endblock %}