{% extends 'base.html.twig' %}

{% block body %}
    <h1>Scenario edit</h1>

    {{ form_start(edit_form) }}
        {{ form_row(edit_form.description) }}
        {{ form_row(edit_form.site) }}
        <div class="form-group">
            {{ form_label(edit_form.scenarioInquests) }}
            <div id="appbundle_scenario_scenarioInquests" data-prototype="{{ form_widget(edit_form.scenarioInquests.vars.prototype)|e('html_attr') }}"></div>
            <div class="col-md-1">
                <a href="#" class="btn btn-default add-scenario-inquest" title="Add Scenario Inquest"><span class="glyphicon glyphicon-plus-sign"></span></a>
            </div>
            <div class="col-md-11 appbundle_scenario_scenarioInquests_wrapper">
                {% for scenarioInquest in edit_form.scenarioInquests %}
                    <div class="form-group scenario-inquest well row">
                        <div class="btn-group pull-right">
                            <a href="#" class="btn btn-default delete"><span class="glyphicon glyphicon-trash"></span></a>
                            <a href="#" class="btn btn-default minimize"><span class="glyphicon glyphicon-chevron-up"></span></a>
                        </div>
                        <h4>Scenario Inquest</h4>
                        {{ form_row(scenarioInquest.inquest) }}
                        {{ form_row(scenarioInquest.inquestProtocol) }}
                        {{ form_row(scenarioInquest.inquestParameter) }}
                        {{ form_row(scenarioInquest.inquestComparison) }}
                        <div class="form-group">
                            {{ form_label(scenarioInquest.scenarioInquestValidators) }}
                            <div id="{{ scenarioInquest.scenarioInquestValidators.vars.id }}" data-prototype="{{ form_widget(scenarioInquest.scenarioInquestValidators.vars.prototype)|e('html_attr') }}"></div>
                            <div class="col-md-1">
                                <a href="#" class="btn btn-default add-scenario-inquest-validator" title="Add Scenario Inquest Validator"><span class="glyphicon glyphicon-plus-sign"></span></a>
                            </div>
                            <div class="col-md-11 appbundle_scenario_scenarioInquestValidators_wrapper">
                                {% for scenarioInquestValidator in scenarioInquest.scenarioInquestValidators %}
                                    <div class="form-group scenario-inquest well row">
                                        <div class="btn-group pull-right">
                                            <a href="#" class="btn btn-default delete"><span class="glyphicon glyphicon-trash"></span></a>
                                            <a href="#" class="btn btn-default minimize"><span class="glyphicon glyphicon-chevron-up"></span></a>
                                        </div>
                                        <h4>Scenario Inquest Validator</h4>
                                        {{ form_row(scenarioInquestValidator.validator) }}
                                        {{ form_row(scenarioInquestValidator.validatorParameter) }}
                                        {{ form_row(scenarioInquestValidator.validatorComparison) }}
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <input type="submit" value="Edit" />
    {{ form_end(edit_form) }}

    <ul>
        <li>
            <a href="{{ path('scenario_index') }}">Back to the list</a>
        </li>
        <li>
            {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
            {{ form_end(delete_form) }}
        </li>
    </ul>
{% endblock %}
